__pycache__/
tsntest/
build/
dist/
results/
**/*.ipynb_checkpoints/
*.py[cod]
*.pyc
*.err
*.log
*.out
*.DS_Store
*.egg
*.egg-info
*.pdf
*.DS_Store
*.png

tsnkit/simulation/cython/*.c
tsnkit/simulation/cython/*.so

